* {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #ffffff;
}

header {
  background: #e50914;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

section {
  margin: 20px auto;
  padding: 20px;
  background: #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 600px;
}

h2 {
  color: #e50914;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5em;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #333;
  border-radius: 4px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  gap: 10px;
}

.checkmark {
  position: relative;
  box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
  background-color: rgba(16, 16, 16, 0.5);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container input:checked ~ .checkmark {
  box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
  background-color: rgba(245, 24, 24, 0.5);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
  transition: all 500ms ease-in-out;
}

button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d32f2f;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #555;
  color: #ffffff;
}


button {
  padding: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f40612;
}

#incompleteBookList,
#completeBookList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

[data-testid="bookItem"] {
  background: #444;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

[data-testid="bookItemTitle"] {
  font-size: 1.5rem;
}

[data-testid="bookItemIsCompleteButton"],
[data-testid="bookItemDeleteButton"],
[data-testid="bookItemEditButton"] {
  margin-top: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

[data-testid="bookItemIsCompleteButton"]:hover,
[data-testid="bookItemDeleteButton"]:hover,
[data-testid="bookItemEditButton"]:hover {
  background-color: #f40612;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  section {
    padding: 15px;
    margin: 10px;
  }

  input[type="text"],
  input[type="number"] {
    padding: 8px;
  }

  button {
    padding: 8px;
  }
}
